DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True

DB_ENGINE=django.db.backends.mysql
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_SSL_CA=

FORECAST_HISTORY_LIMIT=10
FORECAST_DAYS=7
PYTHON_VERSION=3.11.10
