asgiref==3.10.0
Django==5.2.8
djangorestframework==3.16.1
drf-yasg==1.21.14
inflection==0.5.1
numpy==2.4.4
packaging==26.0
pandas==3.0.3
patsy==1.0.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
scipy==1.17.1
six==1.17.0
sqlparse==0.5.3
statsmodels==0.14.6
tzdata==2025.2
uritemplate==4.2.0
